<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zaen.testly">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="@string/key_api_io_fabric" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id"/>

        <!-- MainActivity -->
        <activity
            android:name=".main.activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <meta-data -->
            <!-- android:name="android.app.default_searchable" -->
            <!-- android:resource="@xml/searchable" /> -->


            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.SEARCH" /> -->
            <!-- </intent-filter> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- IntroActivity -->
        <activity
            android:name=".intro.activities.IntroActivity"
            android:theme="@style/TestlyWelcomeScreenTheme" />
        <!-- Intro2Activity -->
        <activity
            android:name=".intro.activities.Intro2Activity"
            android:theme="@style/TestlyWelcomeScreenTheme" />
        <!-- SettingsActivity -->
        <activity
            android:name=".settings.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".main.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zaen.testly.main.activities.MainActivity" />
        </activity>

        <!-- AboutActivity -->
        <activity
            android:name=".about.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".main.activities.MainActivity" />

        <!-- FeedbackActivity -->
        <activity
            android:name=".feedback.activities.FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:parentActivityName=".main.activities.MainActivity" />

        <!-- HelpActivity -->
        <activity
            android:name=".help.activities.HelpActivity"
            android:label="@string/title_activity_help"
            android:parentActivityName=".main.activities.MainActivity" />

        <!-- LoginActivity -->
        <activity
            android:name=".auth.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Login"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="testly-2014.firebaseapp.com/__/auth/handler"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <!-- SignupActivity -->
        <activity
            android:name=".auth.activities.SignupActivity"
            android:label="@string/title_activity_signup"
            android:theme="@style/Signup"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- SignupInfoActivity -->
        <activity
            android:name=".auth.activities.SignupInfoActivity"
            android:label="@string/title_activity_signup"
            android:theme="@style/Signup"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <!-- ImageViewActivity -->
        <activity android:name=".activities.ImageViewActivity" />

        <!-- Facebook SDK -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <!-- Create Card -->
        <activity
            android:name=".cas.activities.CreateCardActivity"
            android:label="Create Card"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".main.activities.MainActivity"/>
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.zaen.testly.main.activities.MainActivity" />

        <!-- Create Set -->
        <activity
            android:name=".cas.activities.CreateSetActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="Create Set"
            android:parentActivityName=".main.activities.MainActivity"
            />

        <!-- Cas Viewer -->
        <activity
            android:name=".cas.childs.viewer.activities.CasViewerActivity"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".main.activities.MainActivity"
            />
    </application>

</manifest>